<header>
    <div class="logo"><a href="/">Logo</a></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sports">Sports</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>
<hr>
