<%- include('../partials/header') %>
<h1>Welcome to the Media App</h1>
<section>
   <h2>Latest News</h2>
   <ul>
       <% news.forEach(item => { %>
           <li><strong><%= item.title %></strong> - <%= item.content %></li>
       <% }) %>
   </ul>
</section>
<%- include('../partials/footer') %>
