<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <p>Welcome to the sports section! Here, you'll find the latest updates on sports.</p>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
